<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>로그인 페이지</h2>
  <a href="/oauth2/authorization/google">구글로그인</a>&nbsp;
  <a href="/oauth2/authorization/naver">네이버로그인</a>&nbsp;
  <a href="/oauth2/authorization/kakao">카카오로그인</a>&nbsp;
  <a href="/join">회원가입</a>
    <hr>
    <form th:action="@{/loginProc}" method="post" name="loginForm">
        email : <input id="email"  type="email" name="email"><br>
        password : <input id="password" type="password" name="password"><br>
        <input type="submit" value="login"/>
    </form>
  <a th:href="@{/}">돌아가기</a>
</body>
</html>