<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>Main Page</h2>
  <ul>
      <div sec:authorize="isAnonymous()">
          <li><a th:href="@{/join}">회원가입</a></li>
      </div>
      <div sec:authorize="isAnonymous()">
          <li><a th:href="@{/login}">로그인</a></li>
      </div>
      <div sec:authorize="isAuthenticated()">
          <li><a th:href="@{/logout}">로그아웃</a></li>
      </div>
      <div sec:authorize="hasRole('ROLE_ADMIN')">
          <li><a th:href="@{/admin}">어드민 페이지</a></li>
      </div>
      <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
          <li><a th:href="@{/user}">사용자 페이지</a></li>
      </div>
  </ul>
  <ul>
      <li>로그인 사용자 이름 : [[${#authentication.name}]]</li>
      <li>인증여부 : [[${#authentication.authenticated}]]</li>
  </ul>
    <div sec:authorize="isAuthenticated()"
        sec:authentication="principal">
    </div>
</body>
</html>